body {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #767676;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background-color: #DCDCDC;
}

.header__content {
    padding: 40px 0 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__contacts {
    margin-bottom: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 46px;
    text-align: right;
    list-style: none;
}

.header__contacts-phone {
    color: #767676;
}

.header__contacts-feedback {
    color: #767676;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px dashed #767676;
}

[class*='header__contacts-phone']:hover {
    color: red;
    /*text-decoration: none;*/
}

.header__contacts-feedback:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed black;
}

/*======================================*/
.menu-body {
    background-color: #767676;
    /*background-color: #3b3b3b;*/
}

.menu-body__list {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.menu__item {
    /*padding: 25px 0 30px;*/
}

.menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 30px;
    /*letter-spacing: 1px;*/
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: 25px 23px 30px;
}

.card:not(:nth-child(3n)) {
    margin-right: 15px;
}

/*.menu__item:not(:nth-child(:last-child)) .menu__link::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    right: 0;*/
/*    height: 25px;*/
/*    width: 3px;*/
/*    background: #fff;*/
/*}*/
.menu__link::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 25px;
    width: 3px;
    background: #fff;
}

.menu__link:hover {
    /*display: block;*/
    color: #fff;
    /*text-decoration: none;*/
    /*border-bottom: 2px solid #fff;*/
    background-color: #9f9a8e;
    /*text-decoration: underline #ffffff;*/
}

/*============================================*/
.slider__items {
    counter-reset: slide;
}

.slider__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    /*counter-increment: slide;*/
    /*height: 250px;*/
    position: relative;
}

.slider__item::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    display: block;
}

/*==================================*/
.content-catalog__list {
    list-style: none;
    padding: 0;
}

.content-catalog__link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    color: #767676;
    font-weight: 400;
    padding: 20px;
}

.content-catalog__link::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 25px;
    width: 3px;
    background: #767676;
    transform: rotate(30deg);
}

.content-catalog__link:hover {
    color: #767676;
    text-decoration: none;
}

.content-catalog__price-list {
    flex-direction: column;
}

.price-list {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #444444;
    font-weight: 700;
}

.catalog__col {
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 20px;
}

.catalog__col-wrapper {
    padding: 20px;
    background-color: #dcdcdc;
}

.catalog__text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
}

.cost-basket {
    margin-top: 55px;
    flex-wrap: wrap;
}

.catalog__cost {
    margin-bottom: 0;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #444444;
    font-weight: 700;
    justify-content: space-around;
}

.catalog__basket {
    margin-right: 20px;
}

.page-number__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.page-number__link {
    display: inline-block;
    padding: 32px 11px;
    font-size: 14px;
    line-height: 22px;
    color: #767676;
}

.page-number__item:nth-child(3) .page-number__link {
    font-size: 18px;
    color: #444444;
}

.page-number__link:hover {
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    text-decoration: none;
}

.catalog__row-text {
    border-top: 1px solid #777777;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 30px;
    padding-bottom: 200px;
}

.catalog__col-text-left {
    padding: 0 20px 0 0;
}

.catalog__col-text-right {
    padding: 0 0 0 20px;
}

/*=============================*/
.footer {
    background-color: #777777;
}

.footer__wrapper {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-copy__text {
    margin-bottom: 2px;
}

.footer-copy__email {
    color: #ffffff;
}

.footer-copy__email:hover {
    color: #ffffff;
    /*text-decoration: none;*/
}

.footer-menu__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.footer-menu__item {

}

.footer-menu__link {
    display: inline-block;
    padding-top: 14px;
    color: #fff;
    /*border-bottom: 1px solid #fff;*/
    text-decoration: underline #bbbbbb;
}

.footer-menu__item:nth-child(1) .footer-menu__link {
    padding-top: 0;
}

.footer-menu__link:hover {
    text-decoration: none;
    color: #fff;
}

.footer-company {

}

.footer-logo {
    padding-top: 4px;
    padding-right: 8px;
}

.footer-company__wrapper {

}

.footer-company__email {
    position: relative;
    text-decoration: underline;
    color: #ffffff;
}

.footer-company__email::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    right: -15px;
    width: 9px;
    height: 1px;
    background-color: white;
}

.footer-company__email:hover {
    text-decoration: none;
    color: #ffffff;
}

.footer-company__text {
    margin-top: 2px;
    margin-bottom: 0;
}

/*=============================*/


.modal-content {
    display: none;

    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    width: 466px;
    height: 578px;

    margin: auto;
    padding: 35px 60px 25px;
    text-align: center;
    color: #000;
    background: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
    border-radius: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateY(10px);
    }
}

/*.modal-error {*/
/*    animation: shake .6s;*/
/*}*/

/*.modal-content-map {*/
/*    display: none;*/

/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    z-index: 20;*/

/*    width: 766px;*/
/*    height: 561px;*/
/*    margin-top: -280px;*/
/*    margin-left: -390px;*/

/*    background: #e9e5dc url("img/map.png") no-repeat;*/
/*    border: 7px solid white;*/
/*    box-shadow: 0 30px 30px rgba(0, 0, 0, .7);*/
/*}*/

.modal-content-show {
    display: block;
    animation: bounce .6s;
}

/*.modal-overlay {*/
/*    display: none;*/

/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 10;*/

/*    width: 100%;*/
/*    height: 100%;*/

/*    background: rgba(255, 0, 0, .5);*/
/*}*/

.modal-content-close {
    position: absolute;
    top: -28px;
    right: -28px;

    width: 27px;
    height: 27px;

    font-size: 0;

    background-color: #777777;
    border: 0;
    cursor: pointer
}

.modal-content-close::before,
.modal-content-close::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 15px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0 0 35px;
    font-size: 24px;
    color: #535353;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-content p {
    margin: 0 0 3px;
}

.comment {
    width: 100%;
    border: 1px solid #c3c3c3;
}

.login-form input[type="text"],
.login-form input[type="tel"],
.login-form input[type="email"] {
    width: 100%;
    margin: 0 0 10px;
    padding: 10px 40px 10px 15px;

    border: 1px solid #c3c3c3;
}

.login-form input:focus {
    border-color: #663d15;
}

/*.login-form input.icon-user {*/
/*    background-image: url("img/avatar.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: 95% 11px;*/
/*}*/

/*.login-form input.icon-password {*/
/*    background-image: url("img/padlock.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: 95% 11px;;*/
/*}*/

.login-form .restore {
    float: right;

    color: #000;
}

.login-form .btn {
    width: 35%;
    padding: 14px 7px;
    margin-top: 14px;
    background-color: #777777;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0;
    border: 0;
}

/*.login-checkbox input[type="checkbox"] {*/
/*    display: none;*/
/*}*/

/*.login-checkbox {*/
/*    position: relative;*/

/*    padding-left: 30px;*/

/*    cursor: pointer;*/
/*}*/

/*.login-checkbox:hover {*/
/*    color: #663d15;*/
/*}*/

/*.login-checkbox input[type="checkbox"] + .checkbox-indicator {*/
/*    position: absolute;*/
/*    top: -3px;*/
/*    left: 0;*/

/*    width: 17px;*/
/*    height: 17px;*/

/*    border: 2px solid #000000;*/
/*}*/

/*.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,*/
/*.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    left: 1px;*/

/*    width: 15px;*/
/*    height: 2px;*/

/*    background-color: #000;*/
/*}*/

/*.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {*/
/*    transform: rotate(-45deg);*/
/*}*/